@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');




html{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    background-image: url("Photos/worn_dots.png");
}

.img{
    width: 100%;
}


.container
{
    display: flex;
    justify-content: center;
}

.inner{
    width: 100%;
}

.header{
    background-image: url("Photos/20161202_101925.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
}

.logo{
    background-color: white;
    display: flex;
    height: 50px;
    
}
.logosvg{
    
    width: 50px;
    height: 50px;
    order: 2;
    
}

.energies{
    font-family: 'Open Sans', sans-serif;
    margin-top: 0;
    font-size: 1.5rem;
    order: 1;
    line-height: 50px;
}

.collectives{
    font-family: 'Architects Daughter', cursive;
    margin-top: 0;
    font-size: 1.5rem;
    order: 3;
    margin-left:10px ;
    line-height: 50px;
}

#burger{
    order: 4;
    right: 0;
    width: 50px;
    position: absolute;
}

.cache
{
    display: none;
}

.menu
{
    float: right;
}
.element
{
    background-color: white;
    text-align: center;
    padding: 10px;
    border-top: solid rgb(179, 209, 67) 1px;
}


#devise{
    margin-top: 20px;
    background-color: white;
    text-align: center;
    font-family: 'Anton', sans-serif;
    color: rgb(252,183,49);
}

.logoSvgGrand
{
    height: 100px;
    width : 100px;
}

#energieAffaire
{
    font-size: 2rem;
    margin-top: 0px;
}

#transition
{
    margin-top: -35px;
}

.picto{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pictoInner
{
    font-family: 'Lato', sans-serif;
    margin: 10px;
}

.chiffre{
    font-size: 1.7rem;
    margin-top: -10px;
}

.pictoInner.coop
{
    color: #c3a575;
}
.pictoInner.install
{
    color:	#b3d143;
}
.pictoInner.prod
{
    color: #fcb731;
}
.pictoInner.capital
{
    color: #00afec;
}

.comprendre
{
    background-color: rgb(109, 111, 113);
    text-align: center;
    color: white;
    font-size: 1.5rem;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
}

#plus
{
    margin-top: -20px;
}

.info{
    display: flex;
    flex-direction: column;
}

.divGauche{

    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: black;
    font-size: 2rem;
    padding-right: 20px;
    text-align: center;
}
.divDroite{
    font-family: 'Lato', sans-serif;
    color: black;
    padding:10px
}



@media screen and (min-width:885px)
{

    .inner{
        width: 70%;
    } 
    
    .banner{
        display: flex;
        justify-content: center;
    }
    
    .logo{
        width: 120px;
        height: auto;
        text-align: center;
        flex-direction: column;
        align-items: center;
        margin-right: 10px;
        
    }
    .logosvg{
        order: 1;
    }
    
    .energies{
        order: 2;
    }
    
    .collectives{
        margin-top: -50px;
        margin-left: 0;
        margin-bottom: 0;
    }
    
    .menu,.cache{
        display: flex;
        align-items: center;
        font-family: 'Anton', sans-serif;
        white-space:nowrap;
    }

    #burger
    {
        display: none;
    }
    
    
    .element{
        padding: 20px;
        height: 20px;
        
    }
    .navigation
    {
        background-color: rgb(179, 209, 67);
    }
    .navigation:hover
    {
        background-color: rgb(131, 155, 47);
    }
    
    .souscrire
    {
        background-color: rgb(252,183,49);
        margin-left: 10px;
    }
    .souscrire:hover
    {
        background-color: rgb(184, 135, 38);
        margin-left: 10px;
    }

    .info{
        flex-direction: row;
    }
    
    .divGauche{
        width: 50%;
        text-align: right;
    }
    .divDroite{
        width: 50%;
        background-color: white;
    }


}