@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');





html{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    background-image: url("Photos/worn_dots.png");
}

.img{
    width: 100%;
}


.container
{
    display: flex;
    justify-content: center;
}

.inner{
    width: 100%;
}

.header{
    background-image: url("Photos/20161202_101925.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
}

.logo{
    background-color: white;
    display: flex;
    height: 50px;
    
}
.logosvg{
    
    width: 50px;
    height: 50px;
    order: 2;
    
}

.energies{
    font-family: 'Open Sans', sans-serif;
    margin-top: 0;
    font-size: 1.5rem;
    order: 1;
    line-height: 50px;
}

.collectives{
    font-family: 'Architects Daughter', cursive;
    margin-top: 0;
    font-size: 1.5rem;
    order: 3;
    margin-left:10px ;
    line-height: 50px;
}

#burger{
    order: 4;
    right: 0;
    width: 50px;
    position: absolute;
}

.cache
{
    display: none;
}

.menu
{
    float: right;
}
.element
{
    background-color: white;
    text-align: center;
    padding: 10px;
    border-top: solid rgb(179, 209, 67) 1px;
}

@media screen and (min-width:885px)
{

    .inner{
        width: 50%;
    } 
    

    .header{
        background-image: url("Photos/20161202_101925.jpg");
        background-size: cover;
        background-position: center;
        height: 500px;
    }
    
    .banner{
        display: flex;
        justify-content: center;
    }
    
    .logo{
        width: 120px;
        height: auto;
        text-align: center;
        flex-direction: column;
        align-items: center;
        margin-right: 10px;
        
    }
    .logosvg{
        
        width: 50px;
        height: 50px;
        order: 1;
    }
    
    .energies{
        font-family: 'Open Sans', sans-serif;
        margin-top: 0;
        font-size: 1.5rem;
        order: 2;
    }
    
    .collectives{
        margin-top: -50px;
        margin-left: 0;
        margin-bottom: 0;
        font-family: 'Architects Daughter', cursive;
        font-size: 1.5rem;
        order:3;
    }
    
    .menu,.cache{
        display: flex;
        align-items: center;
        font-family: 'Anton', sans-serif;
        white-space:nowrap;
    }

    #burger
    {
        display: none;
    }
    
    
    .element{
        padding: 20px;
        height: 20px;
        
    }
    .navigation
    {
        background-color: rgb(179, 209, 67);
    }
    .navigation:hover
    {
        background-color: rgb(131, 155, 47);
    }
    
    .souscrire
    {
        background-color: rgb(252,183,49);
        margin-left: 10px;
    }
    .souscrire:hover
    {
        background-color: rgb(184, 135, 38);
        margin-left: 10px;
    }
}